@model School.Models.User
@{
    ViewBag.Title = "Profile";
}

<div id="contact" class="spacer">
    <!-- Profile Starts -->
    <div class="container contactform center">
        <h2 class="text-center  wowload fadeInUp">Profile</h2>
        <div class="row wowload fadeInLeftBig">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <form action="/Account/Profile/" method="POST" enctype="multipart/form-data" id="ProfileForm">
                    <input type="text" name="user_id" value="@Model.user_id" hidden/>
                    <input type="text" name="name" value="@Model.name" placeholder="Name" />
                    <input type="text" name="surname" value="@Model.surname" placeholder="Surname" />
                    <input type="text" name="email" value="@Model.email" placeholder="Email Address" />
                    <input type="text" name="username" value="@Model.username" id="username" placeholder="Username" />
                    <input type="password" name="password" value="" placeholder="New Password" />
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Profile Ends-->

<!-- ERROR NOTIFICATION -->
<div class="alert alert-danger animated" id="errorDiv" style="position:fixed; z-index:2000; bottom: 5px; right: 10px; display:none">
    <span id="errorSpan">Oops! can't save, please try again</span>
</div>
<!-- SUCCESS NOTIFICATION -->
<div class="alert alert-success" id="successDiv" style="position:fixed; z-index:2000; bottom: 5px; right: 10px; display:none">
    <span id="successSpan">Message sent successfully :)</span>
</div>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/UserValidation.js"></script>

<script>
    $(document).ready(function () {
        @if(ViewBag.success != null)
        {
            <text>
            $("#successSpan").html('@ViewBag.success');
            $("#successDiv").show().delay(3000).fadeOut();
            </text>
        }
        else if(ViewBag.error != null)
        {
             <text>
             $("#errorSpan").html("The username <b>" + username + "</b> already exists :(");
             $("#errorDiv").show().delay(5000).fadeOut();
             </text>
        }
    })

    $('#username').focusout(function () {
        var username = $(this).val();
        if (username !== '' && username != null) {
            $("#username").attr('disabled', 'disabled');

            $.getJSON("/Parent/Exists?username=" + username, function (data) {
                $("#username").removeAttr('disabled');

                if (data) {
                    $("#username").focus()
                    $("#username").val("")
                    $("#errorSpan").html("The username <b>" + username + "</b> already exists :(");
                    $("#errorDiv").show().delay(5000).fadeOut();
                }
            });
        }
    });
</script>