@model List<School.Models.LearnerReportViewModel>
@{
    ViewBag.Title = "Report";
}

<div class="spacer">
    <div class="container center">
        <h2 style="visibility: visible; animation-name: fadeInUp;" class="wowload fadeInUp animated">Enter marks</h2>
        <div style="visibility: visible; animation-name: fadeInLeftBig;" class="row wowload fadeInLeftBig animated">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                @foreach (var r in Model)
                {
                    <h4><strong><u>@r.Learner</u></strong></h4>
                    if (r.Marks != null &&  r.Marks.Count > 0)
                    {
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Description</th>
                                    <th>Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in r.Marks)
                                {
                                    <tr>
                                        <td>@m.Subject</td>
                                        <td>@m.Description</td>
                                        <td>@m.Marks %</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5><b>There are not marks recorded for @r.Learner</b></h5>
                    }

                    if (r.Concerns != null &&  r.Concerns.Count > 0)
                    {
                        <h4><strong>Concerns</strong></h4>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Concern</th>
                                    <th>Teacher</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in r.Concerns)
                                {
                                    <tr>
                                        <td>@c.Message</td>
                                        <td>@c.Teacher</td>
                                        <td>@c.Date.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5><b>There are no concerns about @r.Learner</b></h5>
                    }

                    if (r.Absents != null && r.Absents.Count > 0)
                    {
                        <h4><strong>Absenteeism</strong></h4>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Subject</th>
                                    <th>Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var a in r.Absents)
                                {
                                    <tr>
                                        <td>@a.Date.ToString("dd-MM-yyyy")</td>
                                        <td>@a.Subjet</td>
                                        <td>@a.Teacher</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5><b>@r.Learner has not been absent from any classes.</b></h5>
                    }
                }
            </div>
        </div>
    </div>
</div>
